<ion-tabs>

  <ion-list *ngIf="loggedIn">

    <ion-tab-bar  slot="bottom">
      <ion-tab-button  tab="logout" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="trajet">
            <ion-icon name="car"></ion-icon>
            <ion-label>Trajets</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="tab3">
            <ion-icon name="map"></ion-icon>
            <ion-label>Map</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-list>


  <ion-list *ngIf="!loggedIn">
    <ion-tab-bar slot="bottom">
      <ion-tab-button  tab="login">
        <ion-icon name="person"></ion-icon>
        <ion-label>Login</ion-label>
      </ion-tab-button>

      <ion-tab-button  (click)="toast()" >
            <ion-icon name="car"></ion-icon>
            <ion-label>Trajets</ion-label>
          </ion-tab-button>

          <ion-tab-button (click)="toast()">
            <ion-icon name="map"></ion-icon>
            <ion-label>Map</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-list>

</ion-tabs>
