<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
     <ion-button (click)="dismiss()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Donnez votre avis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <form #submitForm="ngForm" novalidate (ngSubmit)="submit(submitForm)">

    <ion-list lines="none">
      <ion-label position="stacked" color="primary">Comment s'est passé le trajet?</ion-label>
      <ion-item>
        <ion-icon name="star" *ngFor="let num of [1,2,3,4,5]" (click)="rate(num)" [ngStyle]="{'color': getColor(num)}"  required>
        </ion-icon>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]=" clickedRating === true || submitRating === false" class="ion-padding-start">
          Entrez une note
        </p>
      </ion-text>
<!--
      <ion-label position="stacked" color="primary">Laissez un commentaire</ion-label>
      <ion-item>
        <ion-textarea [(ngModel)]="supportMessage" name="supportQuestion" #supportQuestion="ngModel" rows="6" required></ion-textarea>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="supportQuestion.valid || submittedMess === false" class="ion-padding-start">
          Entrez un commentaire
        </p>
      </ion-text> 
      -->
    </ion-list>



    <div class="ion-padding">
      <ion-button expand="block" type="submit">Envoyer</ion-button>
    </div>
  </form>

</ion-content>
