<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Donnez votre avis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h5>Comment s'est passé le trajet?</h5>
    <ion-icon name="star" *ngFor="let num of [1,2,3,4,5]"
    (click)="rate(num)" [ngStyle]="{'color': getColor(num)}" required>
    </ion-icon>
  </div>


  <form #submitForm="ngForm" novalidate (ngSubmit)="submit(submitForm)">


    <ion-list lines="none">
      <ion-item>
        <ion-label position="stacked" color="primary">Laissez un commentaire</ion-label>
        <ion-textarea [(ngModel)]="supportMessage" name="supportQuestion" #supportQuestion="ngModel" rows="6" required></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-text color="danger">
      <p [hidden]="supportQuestion.valid || submittedMess === false" class="ion-padding-start">
        Entrez un commentaire
      </p>
    </ion-text>

    <div class="ion-padding">
      <ion-button expand="block" type="submit">Submit</ion-button>
    </div>
  </form>

</ion-content>
