<ion-header>
  <ion-toolbar>
    <ion-title>
      QR Code
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>

  </ion-item>

  <button ion-button full icon-left (click)="generateCode()"><ion-icon name="barcode"></ion-icon>Create Code</button>
  <button ion-button full icon-left (click)="scanCode()"><ion-icon name="qr-scanner"></ion-icon>Scan Code</button>

  <ion-card *ngIf="createdCode">
    <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
    <ion-card-content>
    <p> Value: {{ createdCode}}</p>
  </ion-card-content>
  </ion-card>

  <ion-card *ngIf="scannedCode">
    <ion-card-content>
     Result from Scan: {{ scannedCode}}
  </ion-card-content>
  </ion-card>

</ion-content>

<!--
<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>Explication de l'application ici</p>

<ion-list *ngFor="let group of groups" [hidden]="shownSessions === 0">
  <ion-item-group *ngFor="let session of group.sessions" [hidden]="session.hide" >
    <ion-item-divider sticky>
      <ion-label>
        {{session.type}}
      </ion-label>
    </ion-item-divider>
  </ion-item-group>
</ion-list>

<ion-list-header [hidden]="shownSessions > 0">
  Pas de user trouvés
</ion-list-header>

</ion-content>
-->
