<ion-header>
  <ion-toolbar>
    <ion-title>
      Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <button ion-button (click)="watch()">GetLoc</button>
    <p>{{data}}</p>
    <div *ngFor='let coords of locTab'>
      {{coords}}
    </div>


</ion-content>

<!--
<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>Explication de l'application ici</p>

<ion-list *ngFor="let group of groups" [hidden]="shownSessions === 0">
  <ion-item-group *ngFor="let session of group.sessions" [hidden]="session.hide" >
    <ion-item-divider sticky>
      <ion-label>
        {{session.type}}
      </ion-label>
    </ion-item-divider>
  </ion-item-group>
</ion-list>

<ion-list-header [hidden]="shownSessions > 0">
  Pas de user trouvés
</ion-list-header>

</ion-content>
-->
