<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  (click)= "goBack()"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button *ngIf="!isValidate"  (click)="validate()" >
        <ion-icon  slot="icon-only" name="checkmark-circle-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isValidate" disabled >
        <ion-icon slot="icon-only"  name="checkmark-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      Détail du trajet
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div  *ngIf="info" class="ion-padding">
    <h1>{{info.depart}} &ndash; {{info.arrivee}}</h1>
    <p *ngIf="info.prix">{{info.prix}}</p>
    <p *ngIf="info.book_places">nombre de passagers: {{info.book_places}}</p>

    <ion-list *ngFor="let Colis of colis" [hidden]="Colis.hide">
      <h3>Colis:</h3>
      <ion-item>
        <ion-label>
          <h4>{{Colis.nom}}</h4>
          <p *ngIf="Colis.poids">{{Colis.poids}} Kg</p>
          <p *ngIf="Colis.dimension">{{Colis.dimension}} </p>
        </ion-label>
      </ion-item>
    </ion-list>
    <!---
    <ion-text color="medium">
      {{Bdd.timeStart}} &ndash; {{Bdd.timeEnd}}
    </ion-text>
    --->

    <ion-row>
      <ion-col>
        <ion-button  *ngIf="!isValidate" color="success" (click)="validate()" (click)="qrcode()" expand="block">Valider</ion-button>
        <ion-button *ngIf="isValidate" color="dark" disabled expand="block">Trajet clôturé</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5 *ngIf="!isValidate" style="color:rgb(172,169,169)" align="right"  (click)="openModalRating()"><ion-icon name="thumbs-up"></ion-icon> Donnez votre avis</h5>
        <p *ngIf="!isValidate" style="color:rgb(172,169,169)" align="right"  (click)="openModalComplaint()"> Un problème lors du trajet?</p>
      </ion-col>
    </ion-row>
  </div>

<!---
    <ion-list #trajetList *ngIf="session" [hidden]="shownSteps === 0">
      <ion-item-group>
        <ion-item-sliding *ngFor="let step of session.steps" [hidden]="step.hide">
          <ion-item routerLink ="/tabs/trajet/session/sessionId/step/{{step.id}}">
            <ion-label>
              <h3>{{step.cityStart}} &mdash; {{step.cityStop}} </h3>
              <p>{{step.timeStart}} &mdash; {{step.timeEnd}}</p>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
      </ion-item-group>
    </ion-list>
--->




</ion-content>
