<ion-header>
  <ion-toolbar>
    <ion-title>
      QR Code
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>




  <ion-card *ngIf="createdCode">
    <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
    <ion-card-content>
  </ion-card-content>
  </ion-card>

  <ion-card *ngIf="scannedCode">
    <ion-card-content>
     Result from Scan: {{ scannedCode}}
  </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col>
      <ion-button expand="block" color="success" (click)="done()" >OK</ion-button>
    </ion-col>
  </ion-row>


</ion-content>
